module.exports = {
	cookieSecret: 'your cookie secret goes here',
	gmail: {
		user: 'XXX',
		password: 'XXX',
	},
	mongo: {
		development: {
			connectionString: 'XXX',
		},
		production: {
			connectionString: 'XXX',
		},
	},
};
