<!doctype html>
<html>
<head>
<title>
##TODO
</title>
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
</head>
<body class=".body">
<div class="content">
	
	<div class="row">
		<div class="sq" id="c1"></div>
		<div class="sq" id="c2"></div>
		<div class="sq" id="c3"></div>
	</div>
	<div class="row">
		<div class="sq" id="c4"></div>
		<div class="sq" id="c5"></div>
		<div class="sq" id="c6"></div>
	</div>
	<div class="row">
		<div class="sq" id="c7"></div>
		<div class="sq" id="c8"></div>
		<div class="sq" id="c9"></div>
	</div>
	<div id="level">Level 1</div>
	<div class="round-button"><div class="round-button-circle" id="button"><span>Start</span></div></div>
</div>
<script src="js/grid.js"></script>
</body>
</html>
