<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
   <title>
    Login
   </title>
   <link href="css/login.css" rel="stylesheet">
    <!--link href="images/icon.gif" rel="icon" type="image/gif"-->
    </link>
   </link>
  </meta>
 </head>
 <body class="align">
  <div class="site__container">
   <div class="grid__container">
    <form action="" class="form form--login" method="post">
     <div class="h1">
      <h1>
       Sign Up
      </h1>
     </div>
     <div class="form__field">
      <label class="fontawesome-user" for="login__username">
       <span class="hidden">
        Email
       </span>
      </label>
      <input class="form__input" id="login__username" name="id" placeholder="Email" required="" type="email">
      </input>
     </div>
     <div class="form__field">
      <label class="fontawesome-lock" for="login__password">
       <span class="hidden">
        Password
       </span>
      </label>
      <input class="form__input" id="login__password" name="password" placeholder="Password" required="" type="password">
      </input>
     </div>
     <div class="form__field">
      <input type="submit" value="Submit">
      </input>
     </div>
    </form>
   </div>
  </div>
 </body>
</html>
<!--
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
   <title>
    Login
   </title>
   <link href="css/login.css" rel="stylesheet">
    
    </link>
   </link>
  </meta>
 </head>
 <body class="align">
  <div class="site__container">
   <div class="grid__container">
    <form action="" class="form form--login" method="post">
     <div class="h1">
      <h1>
       Login to Memory Game
      </h1>
     </div>
     <div class="form__field">
      <label class="fontawesome-user" for="login__username">
       <span class="hidden">
        Email
       </span>
      </label>
			<input type="text" id="fieldName" name="name" required>
			<br>
			<label for="fieldEmail">Email: </label>
			
			<input type="email" id="fieldEmail" name="id" required>
			<br>
			<label for="fieldPassword">Password: </label>
			<input type="password" id="fieldPassword" name="password" required>
		</div>
		<div>
			<button type="submit">Submit</button>
		</div>
	</form>
 </body>
</html>-->
